:root {
    --bg-color: #fff;
    --fg-color: #202124;
    --main-color: #cf0a0a;
    --dark-color: #9e0000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: 'Varela Round', sans-serif;
    color: var(--fg-color);
    background: var(--bg-color);
    overflow-x: hidden;
}


/* hasznos classzok */
.container {
    width: 93%;
    max-width: 1400px;
    margin: auto;
}

.flexDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--fg-color);
    cursor: pointer;
}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

img {
    width: 36px;
}

section {
    height: 100vh;
    flex-wrap: wrap;
    padding-top: 6rem;
    overflow: hidden;
}

h1 {
    font-size: 3rem;
}
h3 {
    font-size: 1.2rem;
}
